.fc-header-toolbar {
    background-color: #f2f2f2;
  }

  .fc-day-grid-event .fc-content {
    background-color: #f2f2f2;
  }

  .fc-event {
    background-color: #ff5722;
    border-color: #ff5722;
    color: #fff;
  }
  a{
    text-decoration: none !important;
  }