.card {
  height: 160px;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card-body i {
  padding: 15px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 28px;
}

.item-1 {
  color: rgba(149, 149, 255, 1);
  background: #c7c7ff;
}

.item-2 {
  color: rgba(252, 161, 71, 1);
  background: #ffd8be;
}

.item-3 {
  color: rgba(66, 193, 110, 1);
  background: #a9ecbf;
}

.item-4 {
  color: rgba(220, 91, 183, 1);
  background: #f3bbe1;
}
